# Needs to be a valid bash script

# Keep single quotes to prevent expansion by shell.
# The pattern will be passed to grep -E, so it accepts extended regular
# expressions. You can use | to divide multiple patterns.
pattern='BTRFS error|Accepted publickey'
# Telegram bot
token=TELEGRAM_BOT_TOKEN
chat_id=CHAT_TO_SEND_TO
